.PageTitle {
  text-align: center;
  margin-top: 3%;
  margin-left: 9.09vw;
  letter-spacing: 9.09vw;
  text-transform: uppercase;
  font-family: "Lucida Console";
  font-size: 200%;
  color: #646262;
} 
