.Page {
  width: 100%;
  height: 100%;
}

.PageTitle {
  text-align: left;
  margin-top: 3%;
  margin-left: 3%;
  letter-spacing: 9.09vw;
  text-transform: uppercase;
  font-family: "Lucida Console";
  font-size: 200%;
  color: #BF0404;
} 

.VerticalLines {
  width: 1em;
  height: 100%;
  border-left: 30px solid #BF0404;
  border-right: 30px solid #BF0404;
  position:fixed;
    top: 0;
    right: 22%;
  z-index: -1;
}

.BackgroundImageContainer {
  position: relative;
}

.BackgroundImage {
  z-index: -2;
  background-image: linear-gradient(rgba(191,4,4,0.09), rgba(250,248,255, 1)), url('/cars/sportsCars/background-lamborghini.jpg');
  position: absolute;
  left: 0;
  top: -100px;
  width: 100%;
  height: 800px;
  background-position: center;
  /* Make the background image cover the area of the <div>, and clip the excess */
  background-size: cover;
}
