.navButton {
  display: inline-block;
  border: none;
  outline: none;
  background-color: #ECECEC;
  color: #939393;
  font-size: 80%;
  text-align: center;
  width: 25%;
}

.navButton:hover {
  background-color: #BEBEBE;
}

.navText {
  padding: 4% 0 4% 0;
  transition-duration: 0.4s;
}

.navText:hover {
  transform:scale(1.2); 
  color: white;
}