.Container {
  width: 100%;
  height: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.Button {
  display: inline-block;
  border: none;
  outline: none;
  background-color: #BF0404;
  color: #F2F2F2;
  font-size: 80%;
  text-align: center;
  width: 25%;
  cursor: pointer;
}

.Button:hover {
  background-color: #D91E2E;
}

.Text {
  padding: 4% 0 4% 0;
  transition-duration: 0.4s;
}

.Text:hover {
  transform:scale(1.2); 
  color: #F2F2F2;
}